//font-size
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 25px;
$fs-4: 40px;
$fs-5: 50px;

//font-weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 600;
$fw-5: 700;

// color 
$color-1st: black;
$color-2nd: white; 


