// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

// import station
@import "./scss/variable";
@import "./scss/helper";

header {
  .navbar {
    padding: 20px 40px;
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    align-items: baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    .logo {
      img {
        width: 150px;
      }
    }

    .navlist {
      ul.direction {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        li.page {
          a {
            text-decoration: none;
            @include styleText($fs-2, $fw-1, $color-1st);
          }
        }
      }
    }

    .mb-3 {
      display: flex;
      position: relative;

      button {
        border: 0;
        border-radius: 50%;
        background: transparent;
        position: absolute;
        right: 10px;
        top: 7px;
      }
    }

    .icons {
      font-size: $fs-2;

      a {
        color: rgba(0, 0, 0, 0.342);
        margin-right: 20px;
        transition: all 0.5s;
      }

      a:nth-child(1):hover {
        color: green;
      }

      a:nth-child(2):hover {
        color: red;
      }

      a:nth-child(3):hover {
        color: blue;
      }
    }
  }
}

.register {
  padding: 30px 0;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title {
    text-align: center;
    margin-bottom: 50px;
  }

  .left {
    // width: 48%;
    margin-right: 20px;
    width: 350px;
    input {
      width: 350px;
    }
  }

  .right {
    // width: 48%;
    width: 350px;

    .gender {
      position: relative;
      top: 30px;
      font-size: $fs-3;
    }
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.795);

  padding: 30px 70px;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .column1 {
      line-height: 40px;

      a {
        text-decoration: none;
        @include styleText($fs-2, $fw-5, $color-2nd);
      }
    }

    #list {
      .title {
        a {
          text-decoration: none;
          @include styleText($fs-2, $fw-5, $color-2nd);
        }
      }

      ul {
        list-style-type: none;
        line-height: 40px;

        a {
          text-decoration: none;
          @include styleText($fs-2, $fw-3, rgba(255, 255, 255, 0.425));
          transition: all 0.5s;

          &:hover {
            color: white;
          }
        }
      }
    }
    .button.btn {
      margin: auto;
      //   padding: 0 20;
    }
    .column4 {
      display: flex;

      .icon {
        background-color: rgba(255, 255, 255, 0.596);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 15px;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          background-color: white;
        }

        i {
          color: rgba(0, 0, 0, 0.596);
        }
      }
    }
  }
}
